/.gemini/
/.claude/.credentials.json
/.claude/backups/
/.claude/cache/
/.claude/downloads/
/.claude/file-history/
/.claude/history.jsonl
/.claude/ide/
/.claude/mcp-needs-auth-cache.json
/.claude/plans/
/.claude/plugins/
/.claude/projects/
/.claude/session-env/
/.claude/sessions/
/.claude/settings.json
/.claude/settings.local.json
/.claude/shell-snapshots/
/.ssh/
/go/
/.config/
/.cache/
/.fontconfig/
/.pki/
/.dotnet/
/.vscode/
!/.vscode/settings.json
/.npm/
/.antigravity
/.local
.claude.json
.gitconfig
go.tar.gz
code.rpm
.bashrc
.bash_history
chrome.rpm
.bash_logout
.profile
.sudo_as_admin_successful
code.deb
/.pnpm-store
/node_modules
/test-results
