/.gemini/
/.claude/
/.ssh/
/go/
/.config/
/.cache/
/.fontconfig/
/.pki/
/.dotnet/
/.vscode/
!/.vscode/settings.json
/.npm/
/.antigravity
/.local
.claude.json
.gitconfig
go.tar.gz
code.rpm
.bashrc
.bash_history
chrome.rpm
.bash_logout
.profile
.sudo_as_admin_successful
code.deb
/.pnpm-store
/node_modules
/test-results