/.gemini/
/.claude/
/.ssh/
/go/
/.config/
/.cache/
/.fontconfig/
/.pki/
/.dotnet/
/.vscode/
!/.vscode/settings.json
/.npm/
/.antigravity
/.local
.claude.json
.gitconfig
go.tar.gz
code.rpm
.bashrc
.bash_history
chrome.rpm
